.example__wrapper {
  padding: 25px 20px 40px;
  background-color: @bg-gray;
}

.example__title {
  text-transform: none;
  color: @black;
  margin-bottom: 40px;
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
}

.example__list {
  .list-reset();
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.example__item {
  border: 1px solid @input-gray;
  border-radius: 3px;
  padding-top: 15px;
  padding-bottom: 18px;
  width: 124px;
  position: relative;
}

.example__subtitle {
  font-family: @oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  color: @black;
}

.example__span {
  position: absolute;
  display: inline-block;
  width: 87px;
  background-color: @bg-gray;
  text-align: center;
  left: 17px;
  bottom: -26px;
}

.example__expenses {
  font-family: @oswald;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @black;
  margin: 0;
  margin-bottom: 20px;
}

.example__slider {
  position: relative;
  width: 280px;
  height: 256px;
  overflow: hidden;
}

.example__slider-img {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 140px;

  &--before {
    z-index: 2;
    left: 0;
  }

  &--after {
    z-index: 2;
    right: 0;
  }
}

.example__img-before,
.example__img-after {
  width: 280px;
  position: relative;
}

.example__img-after {
  right: 100%;
}
