.form__wrapper {
  padding: 27px 20px 37px;
}

.form__title {
  color: @black;
  text-transform: none;
  margin-bottom: 37px;
}

.form__description {
  margin: 0;
  margin-bottom: 39px;
  font-family: @oswald;
  font-weight: 400;
  color: @black;
  text-transform: uppercase;
  width: 226px;
}

.group-info__list {
  .list-reset();
}

.form__group {
  margin: 0;
  padding: 0;
  border: 0;
}

.group-info {
  padding-bottom: 24px;
}

.group-info__item {
  height: 45px;
}

.group-programs {
  padding: 22px 0 19px;
}

.group-programs__item {
  height: 30px;
}

.group-contacts {
  padding: 26px 0 24px;
}

.group-contacts__item {
  height: 45px;
}

.form__subtitle,
.group-programs__subtitle,
.group-contacts__subtitle,
.group-additionally__subtitle {
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.group-programs__subtitle,
.group-additionally__subtitle {
  color: #222222;
}

.group-list {
  .list-reset();
}

.group-contacts__title,
.group-comments__title,
.group-additionally__title {
  color: @black;
  text-transform: none;
  font-size: 24px;
  line-height: 26px;
}

.group-comments__title {
  margin-bottom: 37px;
}

.group-comments__input {
  min-height: 150px;
  resize: none;
  border: 1px solid #e7e7e7;
  width: 100%;
  padding: 10px 12px 10px 15px;

  &::placeholder {
    font-family: @oswald;
    font-size: 16px;
    line-height: 18px;
    color: @dark-gray;
    text-transform: uppercase;
  }
}

.group-additionally__list {
  .list-reset();
}

.form__button {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 21px;
}

.form__tag {
  text-align: center;
  display: block;
  color: @black;
}
