.form__wrapper {
  padding: 27px 20px 37px;
}

.form__title {
  color: @black;
  text-transform: none;
  margin-bottom: 37px;
}

.form__description {
  margin: 0;
  margin-bottom: 39px;
  font-family: @oswald;
  font-weight: 400;
  color: @black;
  text-transform: uppercase;
  width: 226px;
}

.form__group-list {
  .list-reset();
}

.form__group {
  margin: 0;
  padding: 0;
  border: 0;
}

.form__group-info {
  padding-bottom: 24px;
}

.form__group-item--info {
  height: 45px;
}

.form__group-programs {
  padding: 22px 0 19px;
}

.form__group-item--programs {
  height: 30px;

  .form__group-subtitle {
    color: #222222;
  }
}

.form__group-item--additionally {
  .form__group-subtitle {
    color: #222222;
  }
}

.form__group-contacts {
  padding: 26px 0 24px;
}

.form__group-item--contacts {
  height: 45px;
}

.form__group-subtitle {
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.form__group-title {
  color: @black;
  text-transform: none;
  font-size: 24px;
  line-height: 26px;
}

.form__group-title--comments {
  margin-bottom: 37px;
}

.form__group-textarea {
  min-height: 150px;
  resize: none;
  border: 1px solid #e7e7e7;
  width: 100%;
  padding: 10px 12px 10px 15px;

  &::placeholder {
    font-family: @oswald;
    font-size: 16px;
    line-height: 18px;
    color: @dark-gray;
    text-transform: uppercase;
  }
}

.form__button {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 21px;
}

.form__tag {
  text-align: center;
  display: block;
  color: @black;
}
