.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @basic-gray;
}

.map {
  margin-bottom: 40px;
}

.map__wrapper {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
  background-color: @white;
}

.map__wrapper--form {
  background-color: @basic-gray;
}

.map__title {
  color: @font-black;
  font-size: 16px;
  line-height: 20px;
}

.map__address {
  font-style: normal;
}

.footer__social {
  .list-reset();
}

.html-logo__link {
  color: @dark-gray;
  font-size: 16px;
  text-decoration: none;
}
